body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(225, 225, 225);
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 2em;
}

.container {
    display: flex;
    flex: 1;
    padding: 2rem;
}

aside {
    background-color: #f4f4f4;
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

main > section {
    background-color: #f4f4f4;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    text-align: center;
}

h1, h2 {
    margin: 0 0 1em 0;
}

#search-form {
    width: 100%;
    flex: 1;
}

#search-form label, #search-form input, #search-form button {
    margin-bottom: 10px;
}

#search-form input {
    padding: .5rem 3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: .6rem;
    text-align: center;
    font-weight: 600;
}

#search-form button {
    padding: 0.5rem 3rem;
    border-radius: 1rem;
}

#weather-details, #forecast-details, #favorite-cities {
    margin-top: 1em;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 1rem;
    }

    aside {
        width: 100%;
        margin-bottom: 1rem;
    }

    main {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    main > section {
        width: 100%;
        padding: 1rem;
    }

    #search-form input, #search-form button {
        width: 100%;
    }

    #search-form button {
        margin-top: 1rem;
    }
}
