@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(204, 201, 201);
    font-family: 'Merriweather';
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 2em;
}

article header{
    display: flex;
    justify-content: space-around;
    
}
#second_div{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: end;
    align-items: center;
}
#second_div button{
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: rgba(246, 133, 20, 0.23);
    cursor: pointer;
}
#second_div button:hover{
    background-color: rgba(254, 165, 77, 0.23);
}
article header, article footer{
    color: white !important;
}

article img {
    width: 6rem;
    height: 6rem;
}

.container {
    display: flex;
    flex: 1;
    padding: 2rem;
}

#city-btn:hover{
    cursor: pointer;
}

aside {
    background-color: #00092C;
    color: white;
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

main > section {
    background-color: #f4f4f4;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    text-align: center;
}

h1, h2 {
    margin: 0 0 1em 0;
}

#search-form {
    width: 100%;
    flex: 1;
}

#search-form label, #search-form input, #search-form button {
    margin-bottom: 10px;
}

#search-form input {
    padding: .5rem 3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: .6rem;
    text-align: center;
    font-weight: 600;
}

#search-form button {
    padding: 0.5rem 3rem;
    border-radius: 1rem;
}

#weather-details, #forecast-details, #favorite-cities {
    margin-top: 1em;
}

#favorites{
    background-color: #B20600;
    color: white;
}

#search{
    background-color: #de5302;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-left: 2px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #d1241eda;
}

.delete-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container{
        flex-direction: column;
        padding-left: 0;
    }
    
    aside{
        width: 100%;
        margin-right: 1rem;
    }
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-left: 0rem;
    }

    aside {
        width: 100%;
        margin-bottom: 1rem;
    }

    main {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    main > section {
        width: 100%;
        padding: 1rem;
    }

    #search-form input{
        padding: 0.5rem 5rem;
    }
    
    #search-form button {
        width: 100%;
    }

    #search-form button {
        margin-top: 1rem;
    }
}
